<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}

        <center><font color="red"><b>Page Not Found<b></b></font></center>
        {{>footer}}
    </body>
</html>