<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>    
        {{>header}}
       <div class="main-content">
        
        <br><br>
        This is a website where one can asily check blood availability 
        of a blood bank , if not available one can also find donors.
        
        </div>
        {{>footer}}
    </body>
</html>