<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>  
        {{>header}}  
        <div class="main-content">
        
        <br><br>
           <h5>Phone : 9867894678</h5>
           <h5> Email : bloodBank@gmail.com</h5>
           <h5> Address : Pune, Maharashtra
        </h5>
        </div>
        {{>footer}}
    </body>
</html>