<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content">
           
           <br><br> <h3>Welcome to {{title}}</h3>
            <h5> {{space}}       Donate Blood And Save Life</h5>
        </div>
        {{>footer}}
    </body>