<html>
    {{#errors}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <font color="red" size=5>Error : {{.}}</font>
        <button type="button" class="close" data-dismiss="alert" area-label="Close">
            <span aria-hidden="true" id="msg"></span> 
        </button>
    </div>
    {{/errors}}
    <!--<script>
        if(typeof(errors)!='undefined')
        {
            //errors.forEach(functione);
            //function functione(item,index){
              for(i=0;i<errors.length;i++)
                document.getElementById("msg").innerHTML=errors[i];
             
        }
    </script>-->
    
</html>