<nav class="hover">
        <img src="/img/logo.jpg" class="logo">
        <ul>
            <li><a href="/userhome">Blood bank</a></li>
           <!-- <li><a href="/about">About</a></li>
            <li><a href='/contact'>Contact Us</a></li> -->
            <li><a href='/checkavailability'>Check Availability</a></li>
            <li><a href='/find'>Find Donar</a></li>
            <li><a href="/">Sign Out</a></li>
        </ul>
    </nav>